In [2]:
# Importar las librerías
import pandas as pd
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

In [3]:
# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# Obtener el valor de la variable de entorno para la contraseña de la base de datos
password = os.environ.get('DB_PASSWORD')

In [4]:
# Establecer los detalles de conexión a la base de datos
host = 'localhost'
port = 5432
database = 'postgres'
user = 'postgres'

In [5]:
# Crear la cadena de conexión SQLAlchemy
db_url = f'postgresql://{user}:{password}@{host}:{port}/{database}'

# Crear el motor de conexión a la base de datos
engine = create_engine(db_url)

In [6]:
# Ejecutar la consulta SELECT y almacenar los resultados en un DataFrame
query = "SELECT * FROM trades LIMIT 20;"
df = pd.read_sql_query(query, engine)

# Imprimir el DataFrame con los resultados
print(df)

   country_code  year  comm_code       flow  trade_usd   kg  quantity
0           SYC  1998     890200     Import  1431426.0  0.0   23000.0  \
1           SYC  1998     890310     Import    31406.0  0.0    2545.0
2           SYC  1998     890310     Export      950.0  0.0     300.0
3           SYC  1998     890310  Re-Export      950.0  0.0     300.0
4           SYC  1998     890391     Import    18251.0  0.0     450.0
5           SYC  1998     890392     Import  1800859.0  0.0   58683.0
6           SYC  1998     890399     Import  2100927.0  0.0  172909.0
7           SYC  1998     890520     Import   201837.0  0.0  630000.0
8           SYC  1998     890710     Import    19683.0  0.0    3160.0
9           SYC  1998     890790     Import   221126.0  0.0   22169.0
10          SYC  1998     890800     Export     9505.0  0.0     978.0
11          SYC  1998     890800  Re-Export     9505.0  0.0     978.0
12          SYC  1997     890110     Import    70791.0  0.0    5451.0
13          SYC  1997     890310     Import    40882.0  0.0    3765.0
14          SYC  1997     890310     Export      282.0  0.0      60.0
15          SYC  1997     890310  Re-Export      282.0  0.0      60.0
16          SYC  1997     890392     Import  1355051.0  0.0   56995.0
17          SYC  1997     890399     Import   291178.0  0.0   11307.0
18          SYC  1997     890510     Import   251488.0  0.0    4954.0
19          SYC  1997     890590     Import    66642.0  0.0    5231.0

      quantity_name
0   Number of items
1   Number of items
2   Number of items
3   Number of items
4   Number of items
5   Number of items
6   Number of items
7   Number of items
8   Number of items
9   Number of items
10  Number of items
11  Number of items
12  Number of items
13  Number of items
14  Number of items
15  Number of items
16  Number of items
17  Number of items
18  Number of items
19  Number of items